.task-finder{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 5;
}
.task-finder-container{
    height: auto;
    width: 100%;
    background: whitesmoke;
    box-shadow: 0 0 1vw gray;
    border-radius: 1vw;
    padding: 0 0 1vw 0;
}
.taskfinder-header{
    display: flex;
    align-items: center;
    padding: 1vw 1vw 0 1vw;
}
#searchIcon{
    font-size: 2vw;
    margin: 0 1vw 0 0;
    color: #3C9C3A;
}
.taskfinder-header h1{
    font-size: 2vw;
    color: #3C9C3A;
    font-family: "Cocogoose";
    font-weight: 100;
}
.taskfinder-searchbar{
    display: flex;
    align-items: center;
    margin: 1vw 0;
    padding: 0 1vw;
}
.taskfinder-searchbar h1{
    font-size: .6vw;
    margin: 0 0 .5vw 0;
}
.searchbar section{
    display: flex;
    align-items: center;
    background: white;
    width: 22vw;
    padding: .5vw 1vw;
    border: .1vw solid #3C9C3A;
    border-radius: 1vw;
    margin: 0 1vw 0 0;
}
#sendIcon{
    font-size: 1vw;
    color: #3C9C3A;
    cursor: pointer;
}
.searchbar input{
    margin: 0 .5vw 0 0;
    width: 100%;
    border: none;
    outline: 0;
    background: none;
    font-size: .7vw;
}
.fnder-filter section{
    display: flex;
    align-items: center;
}
.fnder-filter section li{
    list-style: none;
    margin: 0 1vw 0 0;
    font-size: .7vw;
    padding: .5vw 1vw;
    background: #3C9C3A;
    color: whitesmoke;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    cursor: pointer;
    transition: .3s ease;
}
.fnder-filter section li:hover{
    background: #296e28;
}
.taskfinder-content{
    display: flex;
}
.tskfinderLeft p{
    font-size: .6vw;
    font-family: "Cocogoose";
    font-weight: 100;
    padding: 0 1vw;
}
.tskfinderLeft p span{
    color: #3C9C3A;
}
.tskfinderLeft li{
    list-style: none;
    margin: 1vw 0;
    box-shadow: 0 0 .5vw gray;
    padding: 1vw;
    border-radius: 1vw;
    display: flex;
    justify-content: space-between;
}
.taskFiltered{
    margin: .5vw 0 0 0;
    height: 32.5vw;
    overflow-y: scroll;
    padding: 0 1vw;
    border-radius: 1vw;
}
.taskFiltered::-webkit-scrollbar{
    width: .5vw;
}
.taskFiltered::-webkit-scrollbar-track{
    border-radius: 1vw;
}
.taskFiltered::-webkit-scrollbar-thumb{
    background: #3C9C3A; 
    border-radius: .5vw;
}
.tasker-info h1{
    font-size: 1.5vw;
    font-weight: 700;
    color: #3C9C3A;
}
.tasker-info h2{
    margin: 0;
    font-size: 1vw;
}
#verified{
    margin: 0 0 0 .2vw;
    color: rgb(0, 102, 255);
    font-size: .8vw;
}
.tasker-info h2 span{
    color: #3C9C3A;
}
.tasker-info p{
    font-size: .5vw;
    color: gray;
    font-family: "Arial";
    padding: 0;
}
.tasker-info p span{
    color: #3C9C3A;
    cursor: pointer;
}
.tasker-description{
    margin: 1vw 0 0 0;
}
.tasker-description h1{
    font-size: .6vw;
    margin: 0 0 .5vw 0;
}
.tsk-description-content{
    padding: .5vw;
    border: .1vw solid black;
    border-radius: .5vw;
    width: 30vw;
}
.tsk-description-content h1{
    font-size: .7vw;
    
}
.tsk-description-content p{
    font-size: .5vw;
    color: gray;
    font-weight: 100;
    padding: 0;
}
.btns-container{
    width: 13vw;
    margin: 0 0 0 1vw;
}
.tsk-location{
    display: flex;
    justify-content: space-between;
    padding: .5vw;
    border: .1vw solid #3C9C3A;
    border-radius: .5vw;
}
.tsk-location section p{
    font-size: .7vw;
    font-family: "Arial";
    font-weight: 600;
    margin: .3vw 0;
    padding: 0;
}
.tsk-info-btn{
    margin: 1vw 0 0 ;
}
.tsk-info-btn button{
    width: 100%;
    margin: .2vw 0;
    padding: .5vw 0;
    font-size: .7vw;
    cursor: pointer;
    border: none;
    outline: 0;
    color: white;
    background: #3C9C3A;
    border-radius: .5vw;
    transition: .3s ease;
}
#report{
    background: red;
}
#report:hover{
    background: rgb(158, 9, 9);
}
.tskfinderRight{
    padding: 1vw;
}
.tskFndr-header h1{
    font-size: 1vw;
    color: #3C9C3A;
}
.taksFinder-profile{
    padding: 1vw;
    border: .1vw solid #3C9C3A;
    border-radius: 1vw;
}
.taksFinder-profile button{
    margin: 1vw 0 0 0;
    width: 100%;
    padding: .5vw;
    border-radius: .5vw;
    font-size: .7vw;
    color: whitesmoke;
    background: #3C9C3A;
    border: none;
    outline: 0;
    cursor: pointer;
    transition: .3s ease;
}
.taksFinder-profile button:hover{
    background: #296e28;
}
.profile-tskfinder{
    display: flex;
    box-shadow: 0 0 .3vw gray;
    padding: 1vw;
    border-radius: .5vw;
    margin: 1vw 0;
}
.profile-tskfinder section img{
    height: auto;
    width: 10vw;
    border-radius: .5vw;
    margin: 0 1vw 0 0;
    border: .2vw solid #3C9C3A;
}
.achivement-profile-tskfinder{
    text-align: center;
    padding: 0 1vw;
}
#achiveIcon{
    color: rgb(190, 188, 43);
}
.achivement-profile-tskfinder p{
    margin: 0 0 .5vw 0;
    font-size: .6vw;
    color: #3C9C3A;
}
.achivement-profile-tskfinder h1{
    font-size: .9vw;
    font-family: "Arial";
    font-weight: 700;
}
.achivement-profile-tskfinder h2{
    margin: 0 0 .5vw 0;
    font-size: .6vw;
    color: gray;
    font-weight: 100;
}
.profile-skill h2{
    font-size: 1vw;
    margin: 0;
    color: #3C9C3A;
}
.profile-skill section{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.skillset{
    padding: 0 2vw;
}
.profile-skill section ul{
    padding: 0;
}
.profile-skill section ul h1{
    padding: 0;
    font-size: .6vw;
    color: gray;
}
.profile-skill section ul li{
    list-style: none;
    font-size: .8vw;
    font-weight: 700;
}
.stars{
    color: #3C9C3A;
}
.prf-descrip{
    padding: 0;
}
.prf-descrip p{
    width: 100%;
    font-size: .7vw;
    border: .1vw solid #3C9C3A;
    padding: .5vw;
    border-radius: .5vw;
    margin: .5vw 0 0 0;
}
.prf-reviews{
    display: block;
    margin: .5vw 0 0 0;
}
.prf-reviews p{
    font-size: .7vw;
    color: gray;
    font-family: "Arial";
}
#starIcon{
    color: rgb(219, 219, 17);
    margin: 0 .2vw 0 0;
}
#checkIcon{
    color: #3C9C3A;
    margin: 0 .2vw 0 0;
}
.prf-contact{
    margin: .5vw 0 0 0;
}
.prf-contact p{
    font-family: "Arial";
}
#locationIcon{
    color: rgb(218, 45, 45);
}
#phoneIcon{
    color: #296e28;
}
