html,body {
  margin: 0;
  font-family: 'Cocogoose light';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #EEF5EF;
  color: #3D3939;
  scroll-behavior: smooth;
}
h1,p{
  margin: 0;
}
body::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "Frisans";
  src: local("Frisans"),
  url("./components/fonts/Frisans\ Std\ Black.otf");
}
@font-face {
  font-family: "Cocogoose light";
  src: local("Cocogoose light"),
   url("./components/fonts/Cocogoose Pro-trial.ttf");
}
@font-face {
  font-family: "Cocogoose ultralight";
  src: local("Cocogoose ultralight"),
   url("./components/fonts/Cocogoose\ Pro\ Ultralight-trial.ttf");
}
@font-face {
  font-family: "Cocogoose";
  src: local("Cocogoose"),
   url("./components/fonts/Cocogoose\ Pro-trial.ttf");
}
@font-face {
  font-family: "Akira";
  src: local("Akira"),
   url("./components/fonts/Akira\ Expanded\ Demo.otf");
}
@font-face {
  font-family: "Baby Doll";
  src: local("Baby Doll"),
   url("./components/fonts/Baby\ Doll.otf");
}
