.nav-main{
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 4;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(10.1px);
    top: -3vw;
    transition: 1s ease-in-out;
}
.nav-main.true{
    top: 0;
}
nav{
    padding: 1vw 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-logo p{
    font-size: 1.5vw;
    height: 1.7vw;
    color: #3C9C3A;
    margin: 0 0 0 .5vw;
    font-family: "Cocogoose";
    cursor: pointer;
}
.home-logo img{
    height: auto;
    width: 2vw;
    cursor: pointer;
}
.navlist ul button{
    margin: 0 0 0 2vw;
    padding: .5vw 3vw;
    font-family: "Cocogoose";
    border-radius: 5vw;
    background: none;
    border: .1vw solid #3C9C3A;
    color: #3C9C3A;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.navlist ul button:hover{
    background: #3C9C3A;
    color: whitesmoke;
}
.navlist ul{
    display: flex;
    align-items: center;
    justify-content: right;
    list-style: none;
}
.navlist ul li{
    margin: 0 0 0 3vw;
    font-size: .7vw;
    font-family: "Cocogoose";
    cursor: pointer;
    transition: .3s ease-in-out;
}
.navlist ul li:hover{
    color: #3C9C3A;
}
@media screen and (min-width:300px) and (max-width:500px){
    nav{
        padding: 4vw;
    }
    .home-logo img{
        width: 4vw;
    }
    #bar{
        font-size: 4vw;
    }
    .navlist-container{
        width: 70vw;
        right: -70vw;
    }
    .navlist-container.true{
        right: 0;
    }
    .navlist-head{
        padding: 5vw;
    }
    .navlist-head img{
        width: 10vw;
        margin: 0 5vw 0 0;
    }
    .navlist-head a{
        font-size: 2.5vw;
    }
    .navlist-content ul{
        margin: 5vw 0 0 0;
    }
    .navlist-content ul li{
        width: 100%;
        font-size: 2vw;
        padding: 5vw;
    }
}