.search{
    height: 100vh;
    width: 100%;
}
.search-task{
    padding: 8vw 0 0 0;
}
.banner{
    height: auto;
    width: 100%;
    background: url('../assets/garden.jpg')center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 2vw 4vw 2vw 0;
    box-sizing: border-box;
}
.bannerLeft{
    display: flex;
    align-items: end;
}
.bannerLeft h1{
    font-size: 1vw;
    color: whitesmoke;
    font-family: "Cocogoose";
    font-weight: 100;
    padding: 0 1vw;
}
.bannerLeft p{
    font-size: .7vw;
    background: whitesmoke;
    padding: 1vw;
    border-radius: 0 1vw 1vw 0;
    line-break: auto;
    width: 30vw;
}

/* right */
.bannerRight{
    background: rgba(255, 255, 255, 0.21);
    border-radius: 1vw;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    padding: 1vw;
    overflow: hidden;
}
.bnnrR-logo{
    display: flex;
    align-items: center;
}
.bnnrR-logo img{
    height: auto;
    width: 1vw;
    margin: 0 .2vw 0 0;
}
.bnnrR-logo h1{
    font-size: 1vw;
    font-family: "Cocogoose";
    font-weight: 500;
    color: whitesmoke;
    line-height: normal;
}
.bnnrR-header p{
    height: auto;
    width: 15vw;
    line-break: auto;
    font-size: .7vw;
    font-family: "Cocogoose";
    font-weight: 100;
    margin: 1vw 0;
    color: whitesmoke;
}
.bnnrR-content{
    height: auto;
    display: flex;
}
.conversation{
    height: 10vw;
    padding: 1vw;
    border-radius: 1vw;
    display: flex;
    background: whitesmoke;
    justify-content: space-between;
}
.conversation section h1{
    font-size: .6vw;
}
.conversation p{
    font-size: .8vw;
    margin: 0.5vw 0;
    padding: .7vw;
    border-radius: 1vw;
}
.client p{
    background: white;
    width: 10vw;
}
.tasker p{
    background: rgb(0, 110, 255);
    width: 12vw;
    color: white;
    text-align: left;
}
.tasker{
    display: flex;
    align-items: end;
    text-align: right;
}
/* tasker 3d*/
.taskerImg{
    position: relative;
    margin: 0 0 0 1vw;
    width: 8vw;
}
.taskerImg img{
    height: auto;
    width: 15vw;
    position: absolute;
    top: -5vw;
}

/* search bar */
.search-task-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vw 0;
}
.task-finder-searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: .5vw 1vw;
    border: .1vw solid black;
    border-radius: 1vw;
}
#icon{
    font-size: .7vw;
    margin: 0 .5vw 0 0;
}
.task-finder-searchbar input{
    width: 25vw;
    border: none;
    outline: 0;
    background: none;
    font-size: .8vw;
}
.task-finder-searchbar input::placeholder{
    opacity: 70%;
    font-style: italic;
}
.search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw 0 0 0;
}
.search-btn button{
    padding: .5vw 2vw;
    border-radius: 1vw;
    font-size: .7vw;
    outline: 0;
    border: none;
    background: #3C9C3A;
    color: white;
    cursor: pointer;
    transition: .3s ease;
}
.search-btn button:hover{
    background: #144613;
}